#banner #btn li:nth-child(1){
    top: 933px;
    left: 50%;
    transform: translateX(-50%);
}
#banner #btn li:nth-child(2){
    top: 1428px;
    left: 407px;
}
#banner #btn li:nth-child(3){
    top: 1428px;
    left: 636px;
}
#banner #btn li:nth-child(4){
    top: 1614px;
    left: 407px;
}
#banner #btn li:nth-child(5){
    top: 1614px;
    left: 636px;
}
#banner #btn li:nth-child(6){
    top: 1800px;
    left: 407px;
}
#banner #btn li:nth-child(7){
    top: 1800px;
    left: 636px;
}
#banner #btn li:nth-child(8){
    top: 1896px;
    left: 50%;
    transform: translateX(-50%);
}