#login{
    position: relative;
    width: 1280px;
    height: 640px;
    margin: 0 auto;
    padding-top: 150px;
} 
#select{
    width: 300px;
    height: 300px;
    margin: 0 auto;
} 
button{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #21CC90;
    position: relative;
    margin-bottom: 10px;
} 
button a{
    width: 300px;
    height: 50px;
    padding-top: 14px;
}
button img{
    width: 20px;
    position: absolute;
    left: 22px;
}
#or{
    text-align: center;
    width: 300px;
    height: 1px;
    background-color: #9e9e9e;
    margin: 20px 0 30px;
}
#or p{
    color: #5a5a5a;
    background: white;
    width: 36px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    position: relative;
    transform: translateY(-10px);
    font-weight: 300;
}
button p{
    font-size: 15px;
    color: white;
}
#kakao{
    background-color: #F8DF00;
}
#kakao img{
    width: 24px;
    left: 18px;
}
#kakao p{
    color: #3D1B1A;
}
#kakao a{
    padding-top: 15px;
}
#google p{
    color: #242424;
}
#google a{
    padding-top: 13px;
}
#naver{
    background-color: #00C300;
}
#google{
    background-color: white;
    border: 1px solid #9e9e9e;
}
#login ul{
    margin: 0 auto;
    width: fit-content;
}
#login ul li{
    float: left;
    margin: 0 5px;
}
#login ul li a{
    opacity: 0.8;
}
#login ul li a:hover{
    opacity: 1;
}
button:hover{
    transform: scale(1.01);
}
#character{
    width: 1280px;
    height: 640px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
#character div{
    position: absolute;
}
#bb{
    top: 280px;
    left: 356px;
}
#bb img{
    width: 110px;
}
#bubble{
    top: 150px;
    left: 814px;
}
#bubble img{
    width: 243px;
}
#tt{
    top: 264px;
    left: 814px;
}
#tt img{
    width: 243px;
}